<h1>{{ person.name }}</h1>
<p>{{ person.description }}</p>

<h2>Relationships</h2>

{{# if friends.$all }}
  <h3>Personal</h3>
  <ul>
    {{# each friends.$bindingValues }}
      <li>Friends with <a href="{{ person }}">{{ name }}</a></li>
    {{/ each }}
    {{# each knows.$bindingValues }}
      <li>Knows <a href="{{ person }}">{{ name }}</a></li>
    {{/ each }}
  </ul>
{{/ if }}

  <h3>Family</h3>
  <ul>
    {{# each siblings.$bindingValues }}
      <li>Sibling of <a href="{{ person }}">{{ name }}</a></li>
    {{/ each }}
    {{# each grunkleOf.$bindingValues }}
      <li>Is grunkle of <a href="{{ person }}">{{ name }}</a></li>
    {{/ each }}
  </ul>
